.searchbar-container {
    display: flex;
    width: 100%;
}

.search-btn {
    background-color: #eee;
    padding: 7px 12px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    border: none;
}

.input-field {
    width: 100%;
    border: none;
    padding: 7px 12px;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
}