.header {
    background-color: #ffe600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px;
    gap: 15px;
  }
  
  .main-content {
    background-color: #eee;
    padding-right: 15%;
    padding-left: 15%;
  }

.breadcrumb {
  padding: 16px;
 }

 @media only screen and (max-width: 1400px) {
  .main-content {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media only screen and (max-width: 1230px) {
  .main-content {
    padding-right: 5%;
    padding-left: 5%;
  }
}

 @media only screen and (max-width: 1024px) {
  .main-content {
    padding-right: 2%;
    padding-left: 2%;
  }
}