.product-details {
    background-color: white;
    border-radius: 5px;
}

.details-container {
    display: grid;
    padding: 32px;
    grid-template-columns: 680px 1fr;
    gap: 16px;
}

.product-detail-info {
    color: #333;
}

.product-detail-condition {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}

.product-detail-image {
    width: 680px;
    height: 500px;
    border-radius: 4px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-detail-price {
    font-size: 46px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.product-detail-title {
    font-size: 24px;
}

.amount-decimals {
    font-size: 20px;
}

.btn-buy {
    background-color: #4383FA;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: #528dfa;
}

.product-detail-description {
    width: calc(680px - 36px);
    padding: 36px;
    text-align: justify;
    text-justify: inter-word;
}

.title-description {
    font-size: 28px;
}

.description {
    font-size: 16px;
    color: #999;
}